
label {
  display: block;
  cursor: pointer;
}

/*
input[type="radio"] {
  position: absolute;
  bottom: 0;
  left: -9999px;
}
*/


/* Dots */

.controls .dots {
  display: flex;
}

.controls .dots {
  margin-right: 4px;
}

.controls .dots label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  transition: background 0.25s;
}

.controls .dots label:hover {
  border: 1px solid red;
}

/* MIMIC CLICK EVENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[id="slide-0"]:checked ~ .swiped-item .swiped-items li:nth-child(1),
[id="slide-1"]:checked ~ .swiped-item .swiped-items li:nth-child(2),
[id="slide-2"]:checked ~ .swiped-item .swiped-items li:nth-child(3),
[id="slide-3"]:checked ~ .swiped-item .swiped-items li:nth-child(4),
[id="slide-4"]:checked ~ .swiped-item .swiped-items li:nth-child(5),
[id="slide-5"]:checked ~ .swiped-item .swiped-items li:nth-child(6),

[id="slide-0"]:checked ~ .controls .dots [for="slide-0"],
[id="slide-1"]:checked ~ .controls .dots [for="slide-1"],
[id="slide-2"]:checked ~ .controls .dots [for="slide-2"],
[id="slide-3"]:checked ~ .controls .dots [for="slide-3"],
[id="slide-4"]:checked ~ .controls .dots [for="slide-4"],
[id="slide-5"]:checked ~ .controls .dots [for="slide-5"],
[id="slide-6"]:checked ~ .controls .dots [for="slide-6"] {
  background: currentColor;
}

