/* 
.scroll-snap-slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: normal;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  scroll-snap-type: x mandatory;

  /* Moved to tailwind config
  padding-inline: 0;
  
}
*/

/* Move this to tailwind */
@media (max-width: 1024px) { 
  .scroll-snap-slider:not(.-show-scroll-bar) {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scroll-snap-slider:not(.-show-scroll-bar)::-webkit-scrollbar {
    display: none;
  } 
} 

/*
.scroll-snap-slide {
 align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: none;
  scroll-snap-align: start;
  flex: 0 0 auto;

}
*/

/* move to tailwind
.scroll-snap-slider.-multi,
.scroll-snap-slider.-responsive {
  max-width: calc(3 * 900px);
  width: 100%;
}

.scroll-snap-slider.-draggable {
  cursor: grab;
}

.scroll-snap-slider.-draggable.-dragging {
  cursor: grabbing;
}

.scroll-snap-slider .scroll-snap-slide {
  scroll-snap-align: start;
}
*/

/*
.indicators {

  align-items: center;
  flex-direction: row;
  gap: var(--spacer-half);
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.42, 0.42, 0.84, 1);
}
*/

/* Moved to tailwind
.indicators.-hidden {
  opacity: 0;
}

.indicators input[type="radio"] {
  display: none;
}
*/

/* 
.thumbs.indicator {
  border: 0;
  cursor: pointer;
  display: block;
  transition: black 0.3s cubic-bezier(0.42, 0.42, 0.84, 1);
  width: 94px;
  height: 94px;
}
*/


.indicator:not(.-active):hover {
  background-color: #019881; 
}

.indicators .indicator.-active {
  background-color: #019881; 
}

/* Move to Tailwind 
.visually-hidden:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
*/